<div class="plane">
  <div class="cockpit">
  </div>
  <div class="exit exit-front front">
    <h1>CHOOSE A SEAT</h1>
  </div>

  <ol class="cabin fuselage">
    <li *ngFor="let seats of seatMatrix" class="row row--1">
      <ol class="seats" type="A">
        <li *ngFor="let seat of seats" (click)="changeSeatClass(seat)" class="seat" id="li{{seat.row}}{{seat.column}}">
            <!-- <input type="checkbox" value="{{seat.id}}" class="seatinput" id="{{seat.row}}{{seat.column}}"/> -->
            <label  [for]="seat" id="label{{seat.row}}{{seat.column}}" class="label">{{seat.row}}:{{seat.column}}</label>                
        </li>
      </ol>
    </li>
  </ol>

  <div class="exit exit-back fuselage">
    <button (click)="setUnavailable()" class="button-unavailable" mat-raised-button>UNAVAILABLE</button>
    <button (click)="setEconomy()" class="button-economy" mat-raised-button>ECONOMY</button>
    <button (click)="setBussines()" class="button-bussines" mat-raised-button>BUSSINES</button>
    <button (click)="setFirst()" class="button-first" mat-raised-button>FIRST</button>
    <br>
  </div>

  <div>
      <button class="seat-class" (click)="setSeatClass(seatMatrix)" mat-raised-button>SHOW SEAT CLASS</button>
      <button class="seat-update" (click)="updateSeatsClasses()" mat-raised-button>UPDATE SEAT CLASS</button>
      <button class="button-close" mat-raised-button mat-dialog-close>CLOSE</button>
    </div>

</div>