<h3>MY RESERVATIONS</h3>

<table class="flightTable" mat-table [dataSource]="dataSource" style="margin-bottom: 20px" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="from">
      <th class="head-border" mat-header-cell *matHeaderCellDef mat-sort-header> Flight number </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.ticket.flight.flightNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="to">
        <th class="head-border" mat-header-cell *matHeaderCellDef mat-sort-header> TO </th>
        <td mat-cell *matCellDef="let reservation"> {{reservation.ticket.company.city}} </td>
    </ng-container>


    <ng-container matColumnDef="departure">
      <th class="head-border" mat-header-cell *matHeaderCellDef mat-sort-header> DERATURE DATE </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.ticket.flight.departureDate}} </td>
    </ng-container>

    <ng-container matColumnDef="seat">
      <th class="head-border" mat-header-cell *matHeaderCellDef mat-sort-header>SEAT</th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.ticket.seat.row}}:{{reservation.ticket.seat.column}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th class="head-border" mat-header-cell *matHeaderCellDef mat-sort-header> PRICE </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.ticket.price}} </td>
    </ng-container>

    <ng-container matColumnDef="reserve">
      <th class="head-border" mat-header-cell *matHeaderCellDef style="padding-top: 15px; width: 130px"> CANCEL RESERVATION </th>
      <td mat-cell *matCellDef="let reservation" style="padding-top: 15px">
        <button mat-raised-button (click)="cancelReservation(reservation)">
          <!-- <mat-icon>cancel_presentation</mat-icon> -->
          CANCEL RESERVATION
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>

  <button class="cancelbtn" mat-raised-button mat-dialog-close>CANCEL</button>