*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: lato;
}

html {
  font-size: 16px;
}

.plane {
  margin: 0 auto;
  max-width: 500px;
}

.cockpit {
  margin-top: 100px;
}

.front {
  background: rgb(71, 71, 71);
  color: white;
  border: 5px solid rgb(71, 71, 71);
  height: 100px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  margin-top: 35px;
}

button {
  outline: none;
  margin: 0 auto;
  margin-left: 120px;

}

.button-economy {
  background: #009688;
  color: white;
}

.button-bussines {
  background: #FFC107;
  color: white;
}

.button-first {
  background: #29B6F6;
  color: white;
}

.button-disble {
  background: #ccc;
  color: black;
}

.button-enable {
  margin-top: 10px;
  background: rgb(71, 71, 71);
  color: white;
}

.fuselage {
  border: 5px solid rgb(71, 71, 71);
  padding: 30px;
  background: #fff;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0 auto;
}



.seat {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;
  margin: 5px;
  background: rgb(71, 71, 71);
  color: white
}

.seat input {
  cursor: pointer;
}

label {
  margin: 3px;
}

.label {
  padding: 10px;
  margin-left: 15px;
}

.exit-back {
  border: 5px solid rgb(71, 71, 71);
}


.button-choose {
  margin-left: 120px;
  margin-top: 20px;
  padding: 10px;
  width: 100px;
}

.button-close {
  margin-left: 50px;
  margin-top: 20px;
  padding: 10px;
  width: 100px;
}

.button-choose:hover {
  background: #a8dfb0;
  color: white;
}

.button-close:hover {
  background: gray;
}

.seat:hover {
  opacity: 0.8;
}

.disabled {
  pointer-events: none;
  cursor: none;
}
