* {
    font-family: lato;
}

button {
    width: 100px;
    margin: 0 auto;
    outline: none;
}

.submitbtn:hover {
    background: #a8dfb0;
    color: white;
}

.cancelbtn:hover {
    background: gray;
    color: white;
}