<h1 mat-dialog-title>ADD NEW TRANSFER POINT</h1>
<div mat-dialog-content>

  <mat-form-field>
    <input matInput [(ngModel)]="transferPoint.arrivalTime" placeholder="Arrival time">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="transferPoint.departureTime" placeholder="Departure time">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="transferPoint.countryAndCity" placeholder="Country and City">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button class="submitbtn" mat-raised-button (click)='addTransferPoint()'>ADD</button>
  <button class="cancelbtn" mat-raised-button mat-dialog-close>CANCEL</button>
  
</div>