<nav class="navbar navbar-default">

    <div class="passenger" *ngIf="(showView) == 'passenger'">
        <div class="name">
            <span id="title">Air FTN</span>
        </div>
        <div class="div_top_hypers">
            <ul class="ul_top_hypers">
                <li><a (click)="Logout()" style="cursor: pointer;">Logout</a></li>
                <li><a (click)="ShowProfile()" style="cursor: pointer;">Profil</a></li>
            </ul>
        </div>
    </div>

    <div class="airlineAdmin" *ngIf="(showView) == 'airlineAdmin'">
        <div class="name">
            <span id="title">Air FTN</span>
        </div>
        <div class="div_top_hypers">
            <ul class="ul_top_hypers">
                <li><a (click)="Logout()" style="cursor: pointer;">Logout</a></li>
                <li><a (click)="ShowProfile()" style="cursor: pointer;">Profil</a></li>
            </ul>
        </div>
    </div>

    <div class="sysAdmin" *ngIf="(showView) == 'sysAdmin'">
        <div class="name">
            <span id="title">Air FTN</span>
        </div>
        <div class="div_top_hypers">
            <ul class="ul_top_hypers">
                <li><a (click)="Logout()" style="cursor: pointer;">Logout</a></li>
                <li><a (click)="ShowProfile()" style="cursor: pointer;">Profil</a></li>
            </ul>
        </div>
    </div>

</nav>