<nav class="navbar navbar-default">

    <div class="passenger" *ngIf="(showView) == 'passenger'">
            <div id="welcome">Welcome</div>
            <div id="description">Feel free to search our hotels, airline companies <br> or to reserve a plane ticket</div>
        <div class="name">
            <span id="title">Air FTN</span>
        </div>
        <div class="div_top_hypers">
            <ul class="ul_top_hypers">
                <li class="options">Welcome, {{ username }}</li>
                <li id="logout"><a (click)="Logout()" >Logout</a></li>
                <li id="profile"><a (click)="ShowProfile()" >Profile</a></li>
            </ul>
        </div>
    </div>

    <div class="airlineAdmin" *ngIf="(showView) == 'airlineAdmin'">
        <div class="name">
            <span id="title">Air FTN</span>
        </div>
        <div class="div_top_hypers">
            <ul class="ul_top_hypers">
                <li id="logout"><a (click)="Logout()" >Logout</a></li>
                <li id="profile" style="width: 150px" (click) = "Update()"><a>Update Profile</a></li>
                <li id="admin_panel2">AIRLINE ADMIN PANEL</li>
            </ul>
        </div>
    </div>

    <div class="sysAdmin" *ngIf="(showView) == 'sysAdmin'">
        <div class="name">
            <span id="title">Air FTN</span>
        </div>

        <div class="div_top_hypers">
            <ul class="ul_top_hypers">
                <li id="logout"><a (click)="Logout()">Logout</a></li>
                <li id="admin_panel">ADMIN PANEL</li>
                <li class="options"><a (click)="clickAdminRegistration()">Add new admin</a></li>
                <li class="options"><a>Add new Airline Company</a></li>
                <li class="options"><a (click) = 'clickAddHotel()'>Add new hotel</a></li>
            </ul>
        </div>
    </div>

</nav>