  <div class="login-form">
    <br>
    <h3>CREATE PRICELIST</h3>
    <br>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  
      <div class="form-group">
        <input type="text" name="priceByKm" [(ngModel)]="pricelist.priceByKm" #priceByKm="ngModel" required placeholder="Price By Kilometer" />
        <div *ngIf="f.submitted && priceByKm.invalid">
          <div *ngIf="priceByKm.errors.required" style="color: red">Price By Kilometer is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <input type="text" name="economyPricePrecentage" [(ngModel)]="pricelist.economyPricePrecentage" #economyPricePrecentage="ngModel" required
          placeholder="Economy price precentage" />
        <div *ngIf="f.submitted && economyPricePrecentage.invalid">
          <div *ngIf="economyPricePrecentage.errors.required" style="color: red">Economy price precentage is required</div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" name="bussinessPricePrecentage" [(ngModel)]="pricelist.bussinessPricePrecentage" #bussinessPricePrecentage="ngModel" required
          placeholder="Business price precentage" />
        <div *ngIf="f.submitted && bussinessPricePrecentage.invalid">
          <div *ngIf="bussinessPricePrecentage.errors.required" style="color: red">Business price precentage is required</div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" name="firstPricePrecentage" [(ngModel)]="pricelist.firstPricePrecentage" #firstPricePrecentage="ngModel" required
          placeholder="First class price precentage" />
        <div *ngIf="f.submitted && firstPricePrecentage.invalid">
          <div *ngIf="firstPricePrecentage.errors.required" style="color: red">Economy price precentage is required</div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" name="discountedPrecentage" [(ngModel)]="pricelist.discountedPrecentage" #discountedPrecentage="ngModel" required
          placeholder="Discounted precentage" />
        <div *ngIf="f.submitted && discountedPrecentage.invalid">
          <div *ngIf="discountedPrecentage.errors.required" style="color: red">Discounted precentage is required</div>
        </div>
      </div>
  
      <br>
  
      <div class="form-group">
        <button class="button" class="submitbtn">CREATE</button>
        <div *ngIf="f.submitted && isLoginFailed" style="color: red">
          Registration failed: {{errorMessage}}
        </div>
        <button class="cancelbtn" type="button" mat-dialog-close>CANCEL</button>
      </div>
      <br>
    </form>
  </div>