<h3>MY FRIENDS AND REQUESTS</h3>

<div class="send_request">
    
    <form class="input">
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="FRIEND USERNAME" name="username" [(ngModel)]="username"></textarea>
      </mat-form-field>
      <button class="send" mat-raised-button style="outline: none" (click)="getReceiver(username)">CHECK USER</button>
      <button class="send" id="send" disabled mat-raised-button style="outline: none" (click)="sendRequest()">SEND REQUEST</button>
    </form>

</div>

<div class="requests">
    <h2>REQUESTS</h2>
    <table class="table table-hover">
      <thead>
        <tr>
            <th class="head" scope="col">EMAIL</th>
          <th class="head" scope="col">USERNAME</th>
          <th class="head" scope="col">FIRST NAME</th>
          <th class="head" scope="col">LAST NAME</th>
          <th class="head" scope="col">ACCEPT</th>
          <th class="head" scope="col">REJECT</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let friendRequest of friendRequests" class="red">
            <td class="border">{{friendRequest.person.email}}</td>
            <td class="border">{{friendRequest.person.username}}</td>
            <td class="border">{{friendRequest.person.firstName}}</td>
            <td class="border">{{friendRequest.person.lastName}}</td>
            <td class="border"><button mat-raised-button (click)="acceptRequest(friendRequest)"><mat-icon>done</mat-icon></button></td>
            <td class="border"><button mat-raised-button (click)="rejectRequest(friendRequest)"><mat-icon>delete</mat-icon></button></td>   
        </tr>
        
    </table>
  </div>

  
<div class="friends">
    <h2>FRIENDS</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="head" scope="col">EMAIL</th>
          <th class="head" scope="col">USERNAME</th>
          <th class="head" scope="col">FIRST NAMEe</th>
          <th class="head" scope="col">LAST NAME</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let friend of friends" class="red">
          <td class="border">{{friend.email}}</td>
          <td class="border">{{friend.username}}</td>
          <td class="border">{{friend.firstName}}</td>
          <td class="border">{{friend.lastName}}</td>
        </tr>
        
    </table>
  </div>

  <button mat-raised-button mat-dialog-close>CLOSE</button>