body {
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}

#whole {
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 70%;
    height: 100vh;
    background-color: white;
    overflow: auto;
}

.picture {
    width: 50%;
    height: 100%;
    float:left;
    overflow: hidden;
}

.login-form {
    float: right;
    text-align: center;
    background-color: white;
    width: 50%;
    height: 100%;
    overflow: auto;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
    opacity: 0.6;
}

input {
    width: 80%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
}

input:focus {
    border-bottom: 1px solid rgb(20, 168, 57);
}

button {
    padding: 18px 30px;
    margin: 15px 15px ;
    border: 1px solid rgb(20, 168, 57);
    border-radius: 4px;
    cursor: pointer;
    width: 35%;
    opacity: 0.9;
    background-color: white;
}

.cancelbtn {
    border: 1px solid gray;
}
  
.cancelbtn:hover {
    background-color: gray;
    opacity: 0.6;
    color: white;
}

.cancelbtn:focus {
    background-color: gray;
    opacity: 1;
    color: white;
}

.submitbtn:hover {
    background: #a8dfb0;
    color: white;
    opacity: 1;
}

/* .submitbtn:focus {
    background-color: #a8dfb0;
    opacity: 1;
    color: white;
} */

textarea, select, input, button { 
    outline: none;
 }

a {
    color:  rgb(20, 168, 57);
}

h3, .signup {
    padding: 10px 10px;
    font-size: 30px;
    font-family: lato;
    font-weight: 200;
}

p {
    font-size: 20px;
    font-family: lato;
}
  
#span {
    color: rgb(20, 168, 57);
    text-decoration: underline;
    cursor: pointer;
}

