<div class="login-form">
    <br>
    <h3>AIRLINE ADMIN iNFO</h3>      
    <br>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      
      <div class="form-group">
        <input type="email" id="email" name="email" [(ngModel)]="passenger.email" #email="ngModel" 
          required placeholder="EMAIL" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" disabled #inputElement1/>
          <div *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required" style="color: red">Email is required</div>
            <div *ngIf="email.errors.pattern" style="color: red">Email format not correct</div>
          </div>
      </div>
  
      <div class="form-group">
        <input type="text" id="user" class="userInfo" name="username" [(ngModel)]="passenger.username" #username="ngModel"
          required  placeholder="USERNAME" disabled #inputElement2/>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required" style="color: red">Username is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <input type="password" id="pass" class="userInfo" name="password" minlength="8" [(ngModel)]="passenger.password" #password="ngModel" 
        required placeholder="PASSWORD" disabled #inputElement3/>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required" style="color: red">Password is required</div>
          <div *ngIf="password.errors.minlength" style="color: red">Password must be at least 8 characters</div>
        </div>
      </div>
  
      <div class="form-group">
        <input type="text" id="firstName" class="userInfo" name="firstName" [(ngModel)]="passenger.firstName" #firstName="ngModel" 
        required placeholder="FIRST NAME" disabled #inputElement1/>
        <div *ngIf="f.submitted && firstName.invalid">
            <div *ngIf="firstName.errors.required" style="color: red">First name is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <input type="text" id="lastName" class="userInfo"  name="lastName" [(ngModel)]="passenger.lastName" #lastName="ngModel" 
        required placeholder="LAST NAME" disabled #inputElement1/>
        <div *ngIf="f.submitted && lastName.invalid">
          <div *ngIf="lastName.errors.required" style="color: red">Last name is required</div>
        </div>
      </div>

      <div class="form-group">
          <input type="text" id="passportNumber" class="userInfo"  name="passportNumber" [(ngModel)]="passenger.passportNumber" #passportNumber="ngModel" 
          required placeholder="PASSPORT NUMBER" disabled #inputElement1/>
          <div *ngIf="f.submitted && passportNumber.invalid">
            <div *ngIf="passportNumber.errors.required" style="color: red">Passport number is required</div>
          </div>
        </div>

      <div class="form-group">
        <input type="text" id="address" class="userInfo" name="address" [(ngModel)]="passenger.address" #address="ngModel" 
        required placeholder="ADDRESS" disabled #inputElement1/>
        <div *ngIf="f.submitted && address.invalid">
          <div *ngIf="address.errors.required" style="color: red">Address is required</div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" id="phoneNumber" class="userInfo" name="phoneNumber" [(ngModel)]="passenger.phoneNumber" #phoneNumber="ngModel" 
        required placeholder="PHONE NUMBER" disabled #inputElement1/>
        <div *ngIf="f.submitted && phoneNumber.invalid">
          <div *ngIf="phoneNumber.errors.required" style="color: red">Phone number is required</div>
        </div>
      </div>
  
      <br>
  
      <div class="form-group">
        <button class="button" id="updatebtn" class="submitbtn" (click)="updateUserInfo()" mat-raised-button>ENABLE CHANGES</button>
        <!-- <button class="passwordbtn" (click)="changePassword()"  mat-raised-button>CHANGE PASSWORD</button> -->
        
        
        <button class="cancelbtn" mat-dialog-close mat-raised-button>CANCEL</button>
      </div>
      <br>
    </form>
  </div>