<div class="login-form">
  <br>
  <h3>CREATE FAST TICKET RESERVATION</h3>
  <br>

  <div class="form-group">
    <button class="choose" mat-raised-button (click)="showFlightSeats(seatMatrix)">
      CHOOSE SEAT
    </button>
    <p *ngIf="seat">
      YOU CHOSE SEAT: <i>{{seat.row}}:{{seat.column}}</i>
    </p>
  </div>

  <div class="form-group">

    <button  *ngIf="seat" class="submitbtn" type="button" (click)="createFastReservation()" mat-raised-button>CREATE FAST RESERVATION</button>
    <button class="cancelbtn" type="button" mat-raised-button mat-dialog-close>CANCEL</button>
  </div>
  <br>

</div>