<div class="wrapper">

  <div class="info grid-item ">
    <h3>AIRLINE INFO</h3>
    <mat-list>
        <mat-divider></mat-divider>
        <h3 mat-subheader class="white">NAME : {{airline.name}}</h3>           
           <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        <mat-divider></mat-divider>
        <h3 mat-subheader class="white">CITY : {{airline.city}}</h3>           
           <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        <mat-divider></mat-divider>
        <h3 mat-subheader class="white">ADDRESS : {{airline.address}}</h3>           
           <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        <mat-divider></mat-divider>
        <h3 mat-subheader class="white">DESCRIPTION : {{airline.description}}</h3>           
           <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        <mat-divider></mat-divider>
     </mat-list>
  </div>

  <div class="flights grid-item ">
    <h3>FLIGHTS</h3>

    <mat-form-field class="search">
        <input (keyup)="filterFlights($event.target.value)" matInput placeholder="Search">
      </mat-form-field>
  
      <button class="addDest" mat-raised-button (click)="addFlight()">Create new flight </button>
  </div>

  <div class="destinations grid-item ">
    <h3>DESTINATIONS</h3>

    <mat-form-field class="search">
      <input (keyup)="filterDestinations($event.target.value)" matInput placeholder="Search">
    </mat-form-field>

    <button class="addDest" mat-raised-button (click)="addDestination()"> Add Destination to airline company </button>

    <table mat-table [dataSource]="dataSourceDestination" matSort class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Name Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
        <td mat-cell *matCellDef="let destination"> {{destination.city}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
        <td mat-cell *matCellDef="let destination"> {{destination.country}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef style="padding-top: 15px"> Description </th>
        <td mat-cell *matCellDef="let destination" style="padding-top: 15px"> {{destination.description}} </td>
      </ng-container>      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="other grid-item">
    <h3>OTHER INFORMATION</h3>
  </div>
  
</div>