<div class="login-form">
    <br>
    <h3>CREATE FLIGHT</h3>
    <br>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  
      <div class="form-group">
        <input type="text" id="flightNumber" name="flightNumber" [(ngModel)]="flight.flightNumber" required
          placeholder="FLIGHT NUMBER" />
        <div *ngIf="f.submitted && flightNumber.invalid">
          <div *ngIf="flightNumber.errors.required" style="color: red">Flight Number is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <mat-select name="airplane" [(ngModel)]="flight.airplaneId" placeholder="AIRPLANE">
          <mat-option *ngFor="let airplane of airplanes" [value]='airplane.id'>
            {{airplane.model}}
          </mat-option>
        </mat-select>
      </div>
  
      <div class="form-group">
        <input type="text" id="departure" name="departure" [(ngModel)]="flight.departure" #departure="ngModel"
          required placeholder="DEPARTURE DATE" #inputElement2 />
        <div *ngIf="f.submitted && departure.invalid">
          <div *ngIf="departure.errors.required" style="color: red">Departure date is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <input type="text" id="arrival" name="arrival" [(ngModel)]="flight.arrival" #arrival="ngModel"
          required placeholder="ARRIVAL DATE" #inputElement3 />
        <div *ngIf="f.submitted && arrival.invalid">
          <div *ngIf="arrival.errors.required" style="color: red">Arrival is required</div>
        </div>
      </div>
  
      <div class="form-group">
          <mat-select name="destinationId" [(ngModel)]="flight.destinationId" placeholder="DESTINATIONS">
            <mat-option *ngFor="let destination of destinations"  [value]='destination.id'>
              {{destination.city}} , {{destination.country}}
            </mat-option>
          </mat-select>
        </div>
  
      <div class="form-group">
        <input type="text" id="mileage" name="mileage" [(ngModel)]="flight.mileage" #mileage="ngModel"
          required placeholder="MILEAGE" #inputElement3 />
        <div *ngIf="f.submitted && mileage.invalid">
          <div *ngIf="mileage.errors.required" style="color: red">Mileage is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <input type="text" id="price" name="price" [(ngModel)]="flight.price"
          #price="ngModel" required placeholder="PRICE" #inputElement3 />
        <div *ngIf="f.submitted && price.invalid">
          <div *ngIf="price.errors.required" style="color: red">Price of flight is required</div>
        </div>
      </div>
  
      <br>
  
      <div class="form-group">
        <button class="button" class="submitbtn" mat-raised-button>UPDATE INFO</button>
        <button class="cancelbtn" mat-dialog-close mat-raised-button>CANCEL</button>
      </div>
      <br>
    </form>
  </div>