body {
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}
  
#whole {
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    overflow: hidden;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    background-color: white;
}

.picture {
    width: 50%;
    height: 100%;
    float:left;
    overflow: hidden;
}

img {
    height: auto;
    max-width: 100%;
    opacity: 0.7;
    display: block;
}

input{
    width: 80%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
}

button {
    padding: 18px 30px;
    margin: 15px 15px ;
    border: 1px solid rgb(20, 168, 57);
    border-radius: 4px;
    cursor: pointer;
    width: 35%;
    opacity: 0.9;
    background-color: white;
    font-family: lato;
}

.cancelbtn {
    border: 1px solid gray;
    border-radius: 4px;
    
}

#user:focus, #pass:focus {
    border-bottom: 1px solid rgb(20, 168, 57);
}

textarea, select, input, button { 
    outline: none;
 }

h3, .signup {
    padding-top: 20px;
    font-size: 30px;
    font-family: lato;
    font-weight: 200;
    margin-top: 100px;
}

p {
    font-size: 20px;
    font-family: lato;
}
  
.login-form {
    float: right;
    text-align: center;
    background-color: white;
    width: 50%;
    height: 100%;
}

.cancelbtn:hover {
    background-color: gray;
    opacity: 0.6;
    color: white;
}

.cancelbtn:focus {
    background-color: gray;
    opacity: 1;
    color: white;
}

.submitbtn:hover {
    background: #a8dfb0;
    color: white;
    opacity: 0.6;
}

.submitbtn:focus {
    background-color: #a8dfb0;
    opacity: 1;
    color: white;
}

#span {
    color: rgb(20, 168, 57);
    text-decoration: underline;
    cursor: pointer;
}